<nav class="white" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="/" class="brand-logo blue-text">platform.ai</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse blue-text"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% for nav_item in section.navigation %}
      <li class="blue-text nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link }}">{{ nav_item.link_text }}</a></li>
      {% endfor %}
        
        <li>
          <a class='blue-text modal-trigger'
             href='#auth_modal' onclick="redirect = true">
             Sign in
          </a>
        </li>
        
    </ul>

    <ul id="mobile-demo" class="side-nav">
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/about">About</a></li>
      
        <li>
          <a class='modal-trigger'
             href='#auth_modal'>
             Sign in
          </a>
        </li>
        
    </ul>
  </div>
</nav>