    <footer id="footer" class="grey darken-3 white-text">
        <div class="container">
            <div class="row">
                <div class="col m6">
                    <img src="/static/images/logo-wt.svg">
            </div>
                    <div class="col m6">
                        <ul class="m-t-0 social right">
                            <li><a href=""><img src="/static/images/sm-icon-tw.svg"></a></li>
                            <li><a href=""><img src="/static/images/sm-icon-yt.svg"></a></li>
                            <li><a href=""><img src="/static/images/sm-icon-fb.svg"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <hr>
                        <ul class="m-t-60 m-b-40">
                            <li><a href="">Overview</a></li>
                            <li><a href="">Samples</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a class="messenger">Contact</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Blog</a></li>
                            <li>|</li>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Privacy</a></li>
                        </ul>
                        <div class="copyright">
                            <p>© 2018 platform.ai inc.</p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

    <div id="auth_modal" class="modal">
      <div class="modal-content" id="firebaseui-auth-container"></div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/init.js"></script>
    <script src="static/firebase.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      window.intercomSettings = {
        app_id: "hs65dxzn",
        custom_launcher_selector: '.messenger'
      };
    </script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/hs65dxzn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
</html>