    <footer class="page-footer blue-grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text brand-logo">platform.ai</h5>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Legal</h5>
            <ul>
              <li><a class="white-text" href="#!">Terms of Service</a></li>
              <li><a class="white-text" href="#!">Privacy</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Twitter</a></li>
              <li><a class="white-text" href="/contact">Contact us</a></li>
              <li><a class="white-text" href="#!">Newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
           &copy; 2018 Platform.AI inc.  
        </div>
      </div>
    </footer>
    <div id="auth_modal" class="modal">
      <div class="modal-content" id="firebaseui-auth-container"></div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="static/init.js"></script>
    <script src="static/firebase.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </body>
</html>